<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex column flex-center">
    <h1 style="font-size: 10vh">Abra sua Conta</h1>
    <q-btn
      :to="{ name: 'suitability' }"
      class="q-mt-xl"
      color="white"
      text-color="blue"
      label="Começar"
      size="xl"
      unelevated
      rounded
      outlined
      no-caps
    />
  </div>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
