<template>
  <div>

    <q-card class="my-card">

      <q-img :src="coverSrc">
        <div class="default-content-width absolute-bottom transparent no-padding">
          <div class="text-h1 text-blue-grey-1 q-my-lg">{{ profile.title }}</div>
          <div class="text-h3 text-blue-grey-1 q-my-md q-mb-lg">{{ profile.headline }}</div>
        </div>
      </q-img>

    </q-card>


    <div
      v-for="(section, index) in profile.sections"
      :key="`section-${index}`"
      class="sections q-mb-xl"
    >
      <div v-if="section.type === 'content'">
        <h4>{{ section.title }}</h4>
        <p
          v-for="({ content, type }, contentIndex) in section.content"
          v-show="type === 'text'"
          :key="`${type}-${contentIndex}`"
          class="text-h5 text-weight-light"
        >
          {{ content }}
        </p>
      </div>

      <div v-if="section.type === 'media'" class="content-media flex">
        <div
          v-for="(cont, contentIndex) in section.content"
          :key="`${cont.type}-${contentIndex}`"
          class="row flex1"
        >
          <img
            v-if="cont.type === 'image'"
            :alt="cont.alt"
            :src="cont.url.regular"
            height="auto"
          />

          <div v-if="cont.type === 'list'" class="">
            <h4 class="top0">{{ section.title }}</h4>
            <p
              v-for="(text, textIndex) in cont.content"
              :key="`text-${textIndex}`"
              class="text-h5 text-weight-light"
            >
              {{ text }}
            </p>
          </div>
        </div>
      </div>

    </div>

    <q-btn
      @click="$router.push({ name: 'suitability' })"
      color="primary"
      class="sections app-btn"
      size="lg"
      rounded
      outlined
    >
      Refazer o Teste
    </q-btn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { get } from 'lodash'

export default {
  computed: {
    ...mapGetters(['profile']),

    coverSrc() {
      return get(this, 'profile.coverPictureURL.full', '')
    }
  },

  created() {
    if (!this.profile.coverPictureURL) {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style lang="stylus" scoped>
// $

.default-content-width {
  max-width: $breakpoint-sm;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  @extend .default-content-width;
  margin-top: 8em;
  margin-bottom: 8em;
}

.flex1 {
  flex: 1;
}

.top0 {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height:auto;
  padding-right: 1em;
}
</style>