<template>
  <div class="default-content-width">

    <app-transitions @transition-end="() => conversation.push({ from: 'bot', message: 'vamos criar sua conta, pois assim poderá ver seu suado dinheiro crescer e florescer!' })">
      <q-chat-message
        v-for="({ message, from, loading }, index) in conversation"
        :key="`chat-${index}`"
        :name="from === 'user' ? userName : botName"
        :bg-color="from === 'user' ? 'accent' : 'primary'"
        :sent="from === 'user'"
        text-color="white"
        class="chat"
        name-sanitize
        text-sanitize
      >
        {{ strip(message) }}
      </q-chat-message>
    </app-transitions>

    <div id="spacer" />

    <div v-show="controlReady" key="form" class="form-control bg-color-">
      <q-form @submit="answer" class="default-content-width">

        <input-answer
          v-for="({ type, mask }, inputIndex) in question.inputs"
          :key="`${type}-${inputIndex}`"
          :type="type"
          :mask="mask"
          :value="control[question.id]"
          :focus="controlReady"
          @input="val => setOption(val, type)"
          class="fit"
        />

        <q-btn
          v-for="({ label, value }, btnIndex) in question.buttons"
          v-show="question.buttons.length"
          :key="`btn-${btnIndex}`"
          :label="label.title"
          @click="val => { setOption(value, 'button'); answer(); }"
          color="primary"
          class="sections app-btn"
          size="md"
          rounded
          outlined
        />

        <q-radio
          v-for="({ label, value }, radioIndex) in question.radios"
          v-show="question.radios.length"
          v-model="control[question.id]"
          :key="`radio-${radioIndex}`"
          :label="label.title"
          :val="value"
          @click="answer"
        />

        <q-checkbox
          v-for="({ label, value }, checkIndex) in question.checkbox"
          v-show="question.checkbox.length"
          :key="`checkbox-${checkIndex}`"
          :label="label.title"
          :true-value="value"
          :val="value"
          :value="!control[question.id] ? [] : control[question.id]"
          @input="setOption(value, 'checkbox')"
        />

        <q-btn
          v-show="question.id === 'final'"
          :loading="loading"
          :disable="loading"
          @click="finish"
          label="Ver o meu perfil"
          color="primary"
          class="sections app-btn"
          size="md"
          rounded
          outlined
        />

        <q-btn
          v-show="shouldShowBtn"
          :disable="loading"
          type="submit"
          label="Enviar"
          color="primary"
          class="app-btn default"
          size="md"
          rounded
          outlined
        />

      </q-form>
    </div>

  </div>
</template>

<script>
import { get } from 'lodash'
import { mapGetters } from 'vuex'
import { scroll } from 'quasar'
import InputAnswer from 'components/suitability/InputAnswer'
import AppTransitions from 'components/AppTransitions'

const loadingMessages = 'Escrevendo...'
const botQuestionDelayer = 800

export default {
  data() {
    return {
      controlReady: false,
      control: {},

      currentInputType: 'string',

      context: {
        id: '',
        answers: {},
        context: 'suitability',
        subcontext: 'suitability_new_profiles',
        fullpath: 'https://warren.com.br/app/#/suitability',
      },

      question: {
        id: '',
        messages: [],
        buttons: [],
        checkbox: [],
        inputs: [],
        radios: [],
        responses: [],
        rows: [],
      },

      conversation: [
        { loading: true, from: 'bot', message: loadingMessages },
      ],
    }
  },

  computed: {
    ...mapGetters(['loading']),

    shouldShowBtn() {
      const radios = this.question.radios.length
      const checkbox = this.question.checkbox.length
      const input = ['string', 'number'].indexOf(get(this, 'question.inputs[0].type')) > -1
      return input || radios || checkbox
    },

    userName() {
      return 'Você'
    },

    botName() {
      return 'Warren'
    },
  },

  watch: {
    loading(newValue, oldValue) {
      if (!oldValue && newValue && this.question.id !== 'final') {
        this.addConversation(loadingMessages, 'bot', true)
      }
    },
  },

  methods: {
    renderString(template) {
      const reg = /\{\{(.*?)\}\}/g
      const found = template.match(reg)

      let accTemplate = template
      found.forEach(word => {
        const key = word.replace(/[{{}}]/g, '')
        accTemplate = accTemplate.replace(word, get(this.context, key))
      })

      return accTemplate
    },

    strip(str) {
      return str.replace(/\^[0-9]\w+/g, '')
    },

    scrollToBottom() {
      window.scrollTo(0,document.body.scrollHeight);
    },

    updateControl(id, value) {
      this.$set(this.$data, 'control', {
        ...this.control,
        [id]: value,
      })
    },

    setOption(val, type) {
      const { question } = this.$data
      let controlValue = val


      if (type === 'checkbox') {
        const control = get(this, `control.${question.id}`, [])
        const index = control.indexOf(val)

        if (index > -1) {
          control.splice(index, 1)
        } else {
          control.push(val)
        }

        controlValue = control
      }

      this.currentInputType = type
      this.updateControl(question.id, controlValue)
    },

    addConversation(message, from = 'bot', loading = false) {
      const { conversation } = this.$data

      const messageToAdd = { from, message, loading }

      const lastNode = conversation[conversation.length-1]
      if (lastNode && lastNode.loading === true) {
        return conversation.splice(conversation.length-1, 1, messageToAdd)
      }

      this.scrollToBottom()
      return conversation.push(messageToAdd)
    },

    getAnswerValue(val) {
      if (this.currentInputType === 'number') {
        const decimals = val.substr(-2)
        const matched = val.match(/\d\w+/g)
        matched.pop()
        const value = matched.join('')
        return decimals === '00'
          ? value
          : `${value}.${decimals}`
      }
      return val
    },

    getAnswerText(value, question) {
      const { inputs, responses, buttons, radios, checkbox } = question

      const sameStructure = (options, value) => {
        const parts = []
        options.forEach(option => {
          if (Array.isArray(value)) {
            const index = value.indexOf(option.value)
            if (index >-1) {
              parts.push(option.label.title)
            }
          } else if (option.value === value) {
            parts.push(option.label.title)
          }
        })
        return parts
      }

      const text = []

      if (inputs.length) {
        if (responses.length) {
          responses.forEach(response => {
            text.push(this.renderString(response))
          })
        } else {
          inputs.forEach(({ mask, type }) => {
            const secureValue = mask === 'password' ? new Array(value.length).join('*') : value
            text.push(type === 'number' ? `R$ ${value}` : secureValue)
          })
        }
      }

      if (buttons.length) {
        text.push(...sameStructure(buttons, value))
      }

      if (radios.length) {
        text.push(...sameStructure(radios, value))
      }

      if (checkbox.length) {
        text.push(...sameStructure(checkbox, value))
      }

      return text.join(', ')
    },

    saveUserAnswer() {
      const {
        control: userInput,
        context: { answers },
        question: { id, inputs },
      } = this.$data

      if (userInput[id]) {
        this.$set(this.$data.context, 'answers', {
          ...answers,
          [id]: this.getAnswerValue(userInput[id]),
        })

        this.context.id = id

        this.addConversation(this.getAnswerText(userInput[id], this.$data.question), 'user')
      }
    },

    saveBotQuestion() {
      const {
        question: {
          id,
          messages,
        }
      } = this.$data

      this.updateControl(id, undefined)
      this.currentInputType = undefined

      setTimeout(() => {
        messages.forEach(({ value: message }) =>
          this.addConversation(message)
        )
        setTimeout(() => (this.controlReady = true), 400)
      }, botQuestionDelayer)
    },

    async sendConversation() {
      try {
        const { data: {
          id,
          messages,
          buttons,
          checkbox,
          inputs,
          radios,
          responses,
          rows,
        } } = await this.$axios.post('/conversation/message', this.context)

        this.$set(this.$data, 'question', {
          id,
          messages,
          buttons,
          checkbox,
          inputs,
          radios,
          responses,
          rows,
        })

      } catch (err){
        this.$q.notify({
          message: 'Ocorreu um erro na comunicação do chat',
          caption: 'Tente novamente em alguns minutos',
          color: 'negative',
          position: 'top',
        })
      }
    },

    async answer() {
      this.saveUserAnswer()

      this.controlReady = false

      setTimeout(() => {
        this.nextQuestion()
      }, botQuestionDelayer)
    },

    async nextQuestion() {
      await this.sendConversation()
      this.saveBotQuestion()
    },

    async finish() {
      try {
        const { data: { user, accessToken } } = await this.$axios.post('/suitability/finish', this.context)

        const headers = { 'access-token': accessToken }
        const { data: suitabilityProfile } = await this.$axios.get('/suitability/my-profile', { headers })

        this.$store.dispatch('saveProfile', suitabilityProfile)

        const coverImage = get(this.$store.getters, 'profile.coverPictureURL.full')
        if (coverImage) {
          const img = new Image()
          img.onload = () => this.$router.push({ name: 'profile'})
          img.src = coverImage
        } else {
          this.$router.push({ name: 'profile'})
        }

      } catch (err) {
        console.error(err)
        this.$q.notify({
          message: 'Ocorreu um erro na comunicação do chat',
          caption: 'Tente novamente em alguns minutos',
          color: 'negative',
          position: 'top',
        })
      }
    },
  },

  mounted() {
    this.nextQuestion()
  },

  components: { InputAnswer, AppTransitions },
}
</script>

<styles lang="stylus" scoped>
#spacer {
  height: 200px;
}

.form-control {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $blue-grey-1;
  padding: 1em;
}

.form-control form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.chat {
  max-width: $breakpoint-sm;
}
</styles>

<style>
.q-radio.inline {
  margin-top: 10px;
}
.q-message-text-content {
  line-height: 1.8em;
}
</style>