<template>
  <transition-group
    name="fade"
    @leave-to="transitionEnd"
  >
    <slot></slot>
  </transition-group>
</template>

<script>
export default {
  methods: {
    transitionEnd() {
      this.$emit('transition-end')
    },
  },
}
</script>

<styles lang="stylus" scoped>
.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: opacity 0s;
  position: absolute
}
</styles>