// app global css in SCSS form

.default-content-width {
  max-width: $breakpoint-sm;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.app-btn {
  align-self: center;
  display: flex;
  padding: 0.8em;
  border-radius: 2em;
}

.app-btn.default {
  position: relative;
  right: -10px
}