<template>
  <div>
    <q-input
      v-if="inputClassName.name"
      v-model="model"
      type="text"
      ref="name"
      placeholder="Digite seu Nome"
      filled
    />

    <q-input
      v-if="inputClassName.currency"
      v-model.lazy="model"
      v-money="moneyFormat"
      prefix="R$ "
      ref="currency"
      filled
    />

    <q-input
      v-if="inputClassName.email"
      v-model="model"
      type="email"
      ref="email"
      placeholder="Digite seu E-mail"
      filled
    />

    <q-input
      v-if="inputClassName.password"
      v-model="model"
      type="password"
      ref="password"
      placeholder="Digite uma Senha"
      filled
    />
  </div>
</template>

<script>
import { debounce } from 'lodash'
import { VMoney } from 'v-money'

export default {
  props: {
    type: { type: String, required: true },
    mask: { type: String, required: true },
    value: String,
    focus: { type: Boolean, default: false },
  },

  data() {
    return {
      moneyFormat: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        precision: 2,
      },
    }
  },

  computed: {
    model: {
      get() {
        return this.$props.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },

    inputClassName() {
      const { type, mask } = this.$props
      return {
        'name': type === 'string' && mask === 'name',
        'currency': type === 'number' && mask === 'currency',
        'email': type === 'string' && mask === 'email',
        'password': type === 'string' && mask === 'password',
      }
    },

    activeInput() {
      return Object.keys(this.inputClassName).find(c => this.inputClassName[c] === true)
    },
  },

  watch: {
    '$props.focus'(newValue, oldValue) {
      if (newValue && !oldValue) {
        this.giveFocus()
      }
    },
  },

  methods: {
    giveFocus() {
      if (this.$refs[this.activeInput]) {
        this.$refs[this.activeInput].focus()
      }
    },
  },

  directives: { money: VMoney },
}
</script>

<style scoped>
  label { padding: 0 }
</style>